*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/b1.png);
    background-position:center;
    background-size:cover;
    position: relative;
}
.first{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{ 
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#fff;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: rgb(255, 255, 255);
    position : absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 55px;
    
    
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 16px;
    color: #fff;
}



nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.xyz{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background: #1b1b1b;
    width: 350px;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
  
  
  }
  nav label{
    color: white;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer;
  }
  .button span{
    float: right;
    line-height: 40px;
    transition: 0.5s;
  }
  .button span.rotate{
    transform: rotate(-180deg);
  }
  nav ul{
    position: absolute;
    background: #1b1b1b;
    list-style: none;
    top: 75px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
  
  /*Scrollable dropdown*/
  
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
  
  [id^=btn]:checked + ul{
    display: block;
  }
  nav .menu:before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #1b1b1b;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
  }
  nav ul li{
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  nav ul li label{
    font-size: 18px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  nav ul li a:hover,
  nav ul li label:hover{
    color: cyan;
  }
  nav ul ul{
    position: static;
  }
  nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
  }
  nav ul ul li a{
    color: #e6e6e6;
    font-size: 17px;
  }
  nav ul li span{
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;
    transition: 0.5s;
  }
  nav ul li span.rotate{
    transform: rotate(-180deg);
  }
  input{
    display: none;
  }